* {
  box-sizing: border-box; }

body {
  margin: 0;
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  color: #2c2f3c; }

main, .header-wrap, .footer .footer-wrap {
  margin: 0 auto;
  width: 960px; }

.landing-logo {
  display: flex;
  align-items: center;
  font-family: "Hind", sans-serif;
  line-height: 1; }
  .landing-logo p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600; }
    .landing-logo p span {
      font-size: 0.4rem;
      font-weight: normal; }
  .landing-logo img {
    width: 30px;
    height: 30px;
    margin-right: 5px; }

.header {
  height: 450px;
  border-radius: 0 0 40% 0;
  background-image: url("../img/m-h-day.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .header .header_heading {
    position: relative;
    z-index: 1;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    max-width: 325px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1; }
    .header .header_heading:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 62%;
      left: 0;
      width: 204px;
      height: 35px;
      background-color: #3aa0c7; }
  .header .header_text {
    font-size: 0.7rem;
    max-width: 382px;
    margin-bottom: 2.5rem; }
  .header .header_button {
    padding: 8px 26px;
    font-size: 0.7rem;
    font-weight: 600;
    background-color: #699900;
    color: #fff;
    border: none;
    border-radius: 1px;
    font-family: inherit; }
  .header a {
    margin-left: 6rem;
    color: #fff;
    font-size: 0.7rem; }

.section {
  position: relative;
  margin-bottom: 117px; }
  .section .section_text {
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600; }
    .section .section_text:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0%;
      left: 50.5%;
      width: 123px;
      height: 29px;
      background-color: #3aa0c7; }
  .section .section_card_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .section .section_card_wrap .section_card {
      display: flex;
      width: 700px;
      height: 204px;
      padding: 12px;
      margin-bottom: 17px;
      border-radius: 4px;
      color: #fff;
      background-color: #21232e; }
      .section .section_card_wrap .section_card img {
        flex-basis: 45%;
        border-radius: 4px; }
      .section .section_card_wrap .section_card .section_card_right_container {
        padding-top: 1rem;
        padding-bottom: 1rem;
        flex-basis: 70%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          font-size: 1rem;
          font-weight: 600; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_text {
          width: 300px;
          margin-left: auto;
          margin-right: auto;
          font-size: 0.6rem;
          font-family: "Hind", sans-serif; }
        .section .section_card_wrap .section_card .section_card_right_container .section_link {
          display: block;
          margin-top: auto;
          color: #fff;
          font-size: 0.6rem; }
  .section .section_banner {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    width: 754px;
    height: 92px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background-image: linear-gradient(to right, #699900, #2d5bd9); }
  .section .section_banner_heading {
    margin: 0;
    font-weight: 700;
    font-size: 1.2rem;
    position: relative;
    z-index: 1; }
    .section .section_banner_heading:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: -20%;
      left: 29%;
      width: 43px;
      height: 29px;
      background-color: #3aa0c7; }
  .section .section_banner_text {
    color: #fff;
    font-size: 0.6rem; }
  .section .section_banner_button {
    padding: 8px 26px;
    font-size: 0.7rem;
    font-weight: 600;
    background-color: #699900;
    color: #fff;
    border: none;
    border-radius: 1px;
    font-family: inherit; }

.footer {
  margin: 0 auto;
  height: 150px;
  width: 1210px;
  background-color: #21232e;
  color: #fff; }
  .footer .footer-wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .footer-wrap .footer_logo {
      flex-basis: 30%;
      padding-top: 3rem; }
    .footer .footer-wrap .footer_text {
      flex-basis: 30%;
      padding-top: 3rem;
      font-size: 0.6rem;
      font-family: "Hind", sans-serif; }
    .footer .footer-wrap .footer-cr {
      flex-basis: 25%;
      padding-top: 3rem;
      font-size: 0.6rem;
      text-align: right; }
