$contentBackgroundColor: #fff;
$mainTextColor: #2c2f3c;
$secondaryTextColor: #fff;
$buttonColor: #699900;
$highlightedTextColor: #3aa0c7;

$mainBackgroundImage: url("../img/m-h-day.jpg");
$mainBackgroundColor: #21232e;
$gradientColor: #2d5bd9;
$mainTextFontFamily: 'Hind', sans-serif;