$contentBackgroundColor: #21232e;
$mainTextColor: #fff;
$secondaryTextColor: #fff;
$buttonColor: #e3ac1a;
$highlightedTextColor: #ef4932;

$mainBackgroundImage: url("../img/m-h-night.jpg");
$mainBackgroundColor: #3b3f50;
$gradientColor: #923152;
$mainTextFontFamily: 'Fresca', sans-serif;